@import 'imports/fonts';

*, *:before, *:after { box-sizing: border-box; }
body { box-sizing: border-box; }


/* =Variables
 *------------------------------------------------------------*/
$mainFont: 'charis_sil', 'verily_serif_monobook', serif;
$altFont: 'Open Sans';

$mainBgColor: #faf8f3;
$mainFgColor: #111111;
$altFgColor: #6a6a6a;

$media-small:     "only screen and (max-width : 800px)";
$media-verysmall: "only screen and (max-width : 350px)";

@mixin separator($content: false, $hide: false) {
  @if $content {
    content: ".";
  }
  @if $hide {
    content: "";
  }
  text-decoration: none;
  font-weight: bold;
}


/* =General
 *------------------------------------------------------------*/
body {
  font-family: $mainFont;
  background: $mainBgColor;
  color: $mainFgColor;
}

a {
  color: $mainFgColor;
  /* color: #6a4; */
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid $mainBgColor;

  &:visited {
  /* color: #572; */
  }
  &:hover {
    border-bottom: 1px solid lighten($mainFgColor, 30%);
  /* color: inherit; */
  }
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#mainWrapper {
  max-width: 80rem;
  width: 100%;
  margin: 3rem auto 3rem;
  text-align: center;

  @media #{$media-small} {
    margin-top: 0.6rem;
  }
}

#mainHeader {
  padding-bottom: 3.6rem;

  @media #{$media-small} {
    padding-bottom: 3rem;
  }
}

#mainLogo {
  display: block;
  border-bottom: none;
}

#mainTitle {
  display: block;
  text-align: center;
  margin-bottom: 1.6rem;

  .inner {
    font-weight: normal;
  }
}

#headerLinks {
  display: inline-block;

  ul {
    margin: 0.1em;
  }
  li:not(:last-child):after {
    @include separator($content: true);
    padding-left: 0.9rem;
  }
  li:not(:last-child) {
    padding: 0 0.9rem 0 0;
  }
  li {
    display: inline-block;
  }
}

#mainFooter {
  margin-top: 4.5rem;
}

#contact {
  text-align: center;

  .contact-link {
    font-family: $mainFont;
    font-size: 0.78rem;
    font-style: normal;
    font-weight: normal;
    //color: $altFgColor;
  }
}

/* =Projects
 *------------------------------------------------------------*/
$projectsRowMargin: 1rem; /* Apply on cell with greatest height */

.projects {
  display: table;
  margin: 0 auto;
  text-align: left;
}
.project {
  display: table-row;

  .key {
    display: table-cell;
    text-align: right;
    padding: 0.5rem 0;
    white-space: pre;

    &:after {
      @include separator($content: true);
      padding: 0 1.3rem 0 1.15rem;
    }
  }
  .def {
    display: table-cell;
    padding-left: 0;
    text-indent: 0.9em;
    line-height: 1.65em;
    padding-bottom: $projectsRowMargin;
    width: 60%;
  }
  .details {
    display: table-cell;
    padding-left: 1.5rem;
    font-style: italic;
    font-size: 0.91em;

    .separator {
      @include separator($content: false);
    }
  }
}

@media #{$media-small} {
  .projects {
    display: block;
    margin: 0 auto;
    text-align: left;
  }
  .project {
    display: block;
    margin: 0 auto;
    width: 95%;

    &:not(:last-child):after {
      @include separator($content: true);
      line-height: 0.1em;
      display: block;
      text-align: center;
    }
    .key {
      display: block;
      text-align: left;
      padding-left: 1em;
      padding: 0.5rem 0;
      white-space: pre;

      &:after {
        @include separator($hide: true);
        text-decoration: none;
        padding: 0;
      }
    }
    .key em {
      font-size: 0.9em;
    }
    .def {
      display: block;
      padding-left: 0;
      text-indent: 0.9em;
      text-align: justify;
      padding-bottom: 0.2em;
      width: 100%;
    }
    .details {
      display: block;
      text-align: right;
      padding-left: 1.5rem;
      padding-bottom: $projectsRowMargin;
      font-style: italic;
    }
  }
}

@media #{$media-verysmall} {
  .project {
    width: 100%;

    .key {
      text-align: center;
      padding-left: 0;
    }
    .def {
      padding-left: 0;
    }
  }
}
