mixin project(title, link, details, tech)
  li
    a.key(href=link)= title
    span.def
      block
    span.details= details + ' . ' + tech

doctype html
html
  head
    meta(charset='utf-8')
    title lleaff's page
    link(rel='stylesheet', href='css/main.css')
  body#index
    section#mainWrapper
      header#mainHeader
        span#mainTitle: span.inner lleaff
        nav#headerLinks: ul
          li: a(href='https://github.com/lleaff') GitHub
          li: a(href='https://c9.io/lleaff') Cloud9
      main
        ul.projects
          +project('Dartygazin', 'https://dphp-lleaff.c9users.io/',
            'Collaboration', 'PHP, JS')
            | Mostly static site for an imaginary electronics retail company.
          +project('VieMonJob', 'https://vismonjobphp-lleaff.c9users.io/',
            'Collaboration', 'PHP, JS (jQuery)')
            | Dynamic site for French startup Vie Mon Job. #[br]
            | Features:#[br]
            | Accounts, messaging, job posting, moderation, custom JavaScript UI elements. 
          +project('LynxChanFront', 'https://github.com/lleaff/LynxChanFront',
            'Solo', 'Jade, SASS, JS')
            | Front-end for a forum-type software.
            
    script(src='js/main.js')
