mixin scripts
  script(src='js/main.js')

mixin stylesheets
  link(rel='stylesheet', href='css/main.css')

mixin project(o)
  li.project
    span.key: a(href=o.link)= o.title
    span.def!= o.desc || ''
    span.details= (o.details ? o.details + ' . ' : '') + (o.tech || '')
  if block
    li.projectPane
      o.pane

mixin projects
  ul(class!=attributes.class, id!=attributes.id)
    +project({
      title: 'gulp-restructure-tree',
      link: 'https://github.com/SewanDevs/gulp-restructure-tree',
      desc: "A Gulp plugin to move files based on a given set of rules defined declaratively. The goal was to help the migration away from an impratical legacy architecture to a more convenient one for development, while keeping the same release structure so the complex deployment process didn't have to be affected.",
      details: 'Solo',
      tech: 'Node.js',
    })

    +project({
      title: 'Programming paradigms',
      link: 'https://goo.gl/cPRRjK',
      desc: "A presentation aiming to introduce the major programming paradigms by focusing on the new features they bring rather than the restrictions they impose or the shortcomings of other paradigms.",
    })

    +project({
      title: 'Backito',
      link: 'https://github.com/lleaff/Backito',
      desc: "Differential and remote backups utility.<br> Schedule backups to local targets, SSH servers, or SVN or GIT repos.<br>Restore files to earlier saved versions using a local differential history that is built upon everytime Backito is called.<br> <em>Winner of its category in ETNA's Linux code camp</em>.",
      details: 'Collaboration',
      tech: 'Node.js',
    })

    +project({
      title: 'VieMonJob',
      link: 'https://vismonjobphp-lleaff.c9users.io/',
      desc: "Dynamic site for French startup Vie Mon Job. <br> Features: <br> Accounts, messaging, job posting, moderation, custom generic JavaScript UI elements (tabs, notifications, modals). <br> <em>Winner of its category in ETNA's Web code camp</em>.",
      details: 'Collaboration',
      tech: 'PHP, JS (jQuery)',
    })

    +project({
      title: 'Dartygazin',
      link: 'https://dartygazin-lleaff.c9users.io/',
      desc: 'Mockup for an imaginary electronics retail business. Mix of static and dynamic content.',
      details: 'Collaboration',
      tech: 'PHP, JS',
    })

    +project({
      title: 'LynxChanFront',
      link: 'https://github.com/lleaff/LynxChanFront',
      desc: 'Front-end for an imageboard hosting software.',
      details: 'Solo',
      tech: 'Jade, SASS, JS'
    })


//------------------------------------------------------------

doctype html
html
  head
    meta(charset='utf-8')
    title lleaff's page
    +stylesheets
  body#index
    section#mainWrapper
      header#mainHeader
        a#mainLogo.inner(href='/index.html'): img(src='/img/header_logo.png')
        //span#mainTitle: a.inner(href='/index.html') lleaff
        nav#headerLinks: ul
          li: a(href='https://github.com/lleaff') GitHub
          //-li: a(href='https://c9.io/lleaff') Cloud9
          li: a(href='http://stackoverflow.com/users/4718923/lleaff') Stack Overflow
      main
        +projects.projects
    +scripts
